/*======Resets======*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Chivo', sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
    padding: 0;
}

button,
input{
    border: none;
}

/*======Variables======*/   

:root{
    --turkis: #54E6AF;
    --dark-grey: #2C344B;
    --dark-blue: #121725;
    --white: #ffffff;
    --light-grey: #5A668A;
    --light: #C2CBE5;
}

/*======Action======*/

/*======Container======*/

.container{
    max-width: 1275px;
    width: 100%;
    margin-left: auto;
    padding: 6.375em 0 6.375em 2em;
    position: relative;
}

@media (min-width: 1500px){
    .container{
        margin-right: auto;
    }
}

@media (max-width: 768px){
    .container{
        margin-left: 0;
        padding: 4em 1.5em;
        background-color: #121725ca;
        height: 100vh;
    }

    .flex-direction{
        display: flex;
        flex-direction: column-reverse;
    }
 }

/*======Logo======*/

.logo{
    margin-bottom: 6.5em;
}

@media (max-width: 1140px){
    .logo{
        margin-bottom: 4.5em;
    }
}

@media (max-width: 768px){
    .logo{
        display: flex;
        justify-content: center;
    }
}

/*======Content Container======*/

.content-container{
    position: relative;
    max-width: 723px;
    width: 100%;
    background-color: var(--dark-blue);
    padding: 5.5em 3.625em 0 0;
    z-index: 100;
}

@media (max-width: 1140px){
    .content-container{
        max-width: 635px;
    }
}

@media (max-width: 768px){
   .content-container{
       padding: 0;
       max-width: 100%;
       text-align: center;
       background-color: transparent;
   }
}

h1{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3.25em;
    line-height: 1.25em;
}

@media (max-width: 1140px){
    h1 {
        font-size: 3em;
    }
}

@media(max-width: 768px){
    h1{
        font-size: 1.625em;
    }
}

.highlight {
    display: block;
    color: var(--turkis)
}

.content-container > p {
    max-width: 445px;
    width: 100%;
    opacity: .7;
    font-size: 1.125em;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

@media (max-width: 1140px){
    .content-container > p {
        font-size: 1em;
    }
}

@media (max-width: 768px){
    .content-container > p {
        margin-left: auto;
        margin-right: auto;
        font-size: .9em;
    }
}

/*Form*/

.form-container{
    margin-bottom: 4em;
}

form > input{
    display: block;
    width: 100%;
    border-radius: 28px;
    color: var(--white);
    background-color: var(--dark-grey);
    padding: 0.875em 2em;
    font-weight: 700;
}

::placeholder{
    opacity: .5;
    font-weight: 700;
}

form > input:focus{
    outline: none;
}

form{
    position: relative;
    max-width: 426px;
    width: 100%;
}

form > button{
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--dark-blue);
    background-color: var(--turkis);
    border-radius: 28px;
    font-size: 0.875em;
    font-weight: 700;
    padding: 0.75em 2em;
}

@media (max-width: 768px){
    form > input{
        padding: 1em 2em;
    }
    form > button {
        position: static;
        width: 100%;
        padding: 1em 2em;
        margin-top: 1em;
    }
    form{
        max-width: 100%;
    }
}

form > button:hover{
    background-color: #B3FFE2;
    cursor: pointer;
}

/*Credentials*/

ul {
    max-width: 536px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px){
    ul{
        margin-bottom: 2em;
    }

    li > img{
        height: 15px;
    }
}

/*======Background Image======*/

.background-img{
    position: absolute;
    right: 0;
    top: 138px;
    z-index: 10;
}

.tablet{
    display: none
}

@media (max-width: 1140px){
    .desktop{
        display: none;
    }
    .tablet{
        display: block;
    }

    .background-img{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }
}

@media (max-width: 768px){
    body{
        background-image: url("/assets/mobile/image-host.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .desktop,
    .tablet{
        display: none;
    }
}


/*======Shape======*/

.shape{
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 1000;
}

@media (max-width: 1440px){
    .shape{
        bottom: -60px;
        left: 40px;
    }
}

@media (max-width: 768px){
    .shape{
        display: none;
    }
}

/*======Validation======*/

.validation-msg{
    position: absolute;
    color: #FB3E3E;
    font-weight: 700;
    margin-left: 2em;
    
}

.hidden{
    display: none;
}